.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  &__all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
  }
  &__info {
    width: 100%;
    text-align: center;
  }
  &__logo {
    margin-bottom: 20px;
  }
  &__addres {
    margin-bottom: 8px;
  }
  //   &__join {
  //     // margin-right: 100px;
  //   }
}
.info-join {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 0;
    margin-right: 0%;
    // padding-left: 76px;
    // padding-right: 86px;
    // justify-content: space-between;
    align-items: baseline;
  }
}
.footer--dark {
  background: #2f303a;
}
