.header {
  position: relative;
  border-bottom: 1px solid #ececec;
  background-color: var(--local-color);
  &__container {
    display: flex;
    align-items: center;
  }
  .container {
    display: flex;
  }
  &__logo {
    @media screen and (max-width: 767px) {
      margin-top: 16px;
      margin-bottom: 16px;
    }
    @media screen and (min-width: 768px) {
      margin-right: 88px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .mob-open {
    margin-left: auto;
  }
}

.mob-menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--local-color);
  top: 0%;
}
.menu-close-btn {
  display: flex;
  position: absolute;
  padding: auto;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  right: 15px;
  top: 10px;
  background-color: transparent;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--second-header-color);
  }
}
.menu-close-icon {
  width: 19px;
  height: 19px;
  fill: var(--main-title-color);

  .menu-close-btn:hover &,
  .menu-close-btn:focus & {
    fill: var(--second-header-color);
  }
}
