.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--local-color);
  &__container {
    display: flex;
    align-items: center;
  }
  .container {
    display: flex;
  }
  &__logo {
    @media screen and (min-width: 768px) {
      margin-right: 88px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
    align-items: center;
  }
}
