.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  justify-items: center;
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__title {
    display: inline-block;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
    @media screen and (max-width: 479px) {
      font-size: 20px;
    }
  }
}
.hero__btn {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  min-width: 200px;
  padding: 10px 32px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  color: var(--local-color);
  background-color: var(--second-header-color);
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--local-color);
  }
}
.hero__overlay {
  display: block;
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: url(../images/hero-overlay.png),
    url(../images/hero-img-mobile.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 768px;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    max-width: 480px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero__overlay {
    background-image: url(../images/hero-overlay.png),
      url(../images/hero-img-mobile@2x.jpeg);
  }
}

@media screen and (min-width: 768px) {
  .hero__overlay {
    background-image: url(../images/hero-overlay.png),
      url(../images/hero-img-tablet.jpeg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero__overlay {
    background-image: url(../images/hero-overlay.png),
      url(../images/hero-img-tablet@2x.jpeg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__overlay {
    background-image: url(../images/hero-overlay.png),
      url(../images/hero-img-desktop.jpeg);
    height: 600px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero__overlay {
    background-image: url(../images/hero-overlay.png),
      url(../images/hero-img-desktop@2x.jpeg);
    height: 600px;
  }
}
